@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  color: var(--text-primary);
  width: 100%;
  height: 100%;
}

.floating-box-container {
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  padding: 3vh;
  border-radius: 1rem;
}

.form-box-title {
  order: 0;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 1.2em;
}

.text-input-box {
  min-height: 1ch;
  height: 3.5vh;
  border-radius: 0.5vh;
  border: none;
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  width: 100%;
}

.input-box-container {
  margin-bottom: 1vh;
}

.text-input-label {
  margin-bottom: 1vh;
}

.form-feedback-box {
  text-align: center;
  margin-top: 1vh;
}

.form-submit-button-container {
  margin-top: 2vh;
  text-align: center;
}

.form-submit-button {
  background-color: var(--button-background-primary);
  color: var(--button-text-primary);
  padding: 1vh;
  border: none;
  border-radius: 0.5vh;
  font-size: 2vh;
  margin: auto;
  cursor: pointer;
}

.form-submit-button:disabled {
  cursor: not-allowed;
}

.button-secondary {
  background-color: var(--button-background-secondary);
  color: var(--button-text-secondary);
}

.back-arrow-container {
  grid-row: 1;
  grid-column: 1;
  height: 10vh;
  width: 10vh;
  padding: 1vh;
}


/* Classes shared by the posts and direct messages pages */
.posts-sidebar-container {
  display: inherit;
  grid-column: 1;
  height: 100vh;
}

.posts-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
}

.find-community-button-section {
  border-bottom: solid var(--background-tertiary);
  padding: 1vh;
}

.pinned-communities-heading {
  border-bottom: solid var(--background-tertiary);
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.pinned-communities-list {
  padding: 0;
  overflow-y: auto;
}

.sidebar-link {
  text-align: center;
  border-radius: 0.5vh;
}

.sidebar-list-item {
  list-style: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sidebar-link:hover {
  background-color: var(--background-tertiary);
  color: var(--text-secondary);
  cursor: pointer;
}

.sidebar-link-selected {
  background-color: var(--background-tertiary);
  color: var(--text-secondary);
}

.posts-section {
  display: inherit;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row: 2;
}

.posts-area {
  height: 80vh;
  overflow-y: scroll;
}

.post-creation-container {
  display: inline-flex;
  margin-left: 1em;
  margin-right: 1em;
}

.new-post-textbox {
  margin-left: 1vw;
  height: 100%;
  margin-right: 0.2em;
}

.new-post-submit {
  height: 100%;
}

.post-box {
  margin: 1em;
  border-radius: 0.2em;
  background-color: var(--background-tertiary);
  color: var(--text-secondary);
  width: fit-content;
  padding: 1em;
  max-width: 90%;
}

.post-box-username {
  font-weight: bold;
}

.post-box-content {
  border-radius: 0.2em;
  background-color: var(--background-tertiary);
  color: var(--text-secondary);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    height: 100%;
  }
}
